<%- include('header'); %>
<body>
  <h3>Simple Node Scraper 2.0</h3>
  <p>
    A simple web-scraper with a browser based GUI and basic user registration
    and login system using a node.js server, and various npm libraries.
  </p>
</body>
<%- include('footer'); %>
